@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,
h2{
    line-height: 1.2;
    font-weight: 300;
    margin: 10px 0;
}

p{
    margin: 10px 0;
    text-align: justify;
}

button{
    padding: 3px;
}

.navbar{
    height: 70px;
    background-color: #444;
    color: #fff;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}

.navbar .flex{
    justify-content: space-between;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.showcase{
    height: auto;
}

.card{
    border: 2px #333 solid;
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
}

.search-form{
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-form input[type='text']{
    border: 1px solid #333;
    border-radius: 3px;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.search-form > form > button:hover{
    background-color: rgba(51, 51, 51, 0.8);
}

.search-form .form-control{
    margin: 10px 0;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.btn-create{
    margin-top: 10px;
}

.btn-create > a{
    background: #fff;
    border: 2px solid #333;
    color: #333;
    text-align: center;
}

.btn-create > a:hover{
    background: rgb(225, 225, 225);
}

.icon-edit{
    position: relative;
    text-align: end;
    color: #333;
    padding: 10px 0;
}

.icon-edit > a:hover{
    border-bottom: 3px solid #333;
}

.card > a{
    text-align: center;
}